*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.banner
{
	position: relative;
	width: 100%;
	height: 200vh;
	background: url(hpbd.jpg);
	background-size: cover;
	background-position: bottom;
	display: flex;
	justify-content: center;
	align-items: center;	
}

.banner .clouds
{
	position: absolute;
	top:  0;
	left: 0;
	width: 100%;
	height:  100%;
	overflow: hidden;
	pointer-events: none;
}
.banner .clouds img
{
	position: absolute;
	margin-top: 10px;
	bottom: 0;
	max-width: 100%;
	animation: cloud calc(3s * var(--i)) linear infinite;
}
@keyframes cloud
{
 	0%
	{
	opacity: 0
	transform: scale(1)	
	}
	25%,75%
	{
		opacity: 1;
	}
	100%
	{
	opacity: 0;
	transform: scale(3);
	}
}
section
{
	position: relative;	
	padding: 75px 100px;
}
section h2
{
	position: relative;
	font-size: 2.5em;
	margin-bottom: 20px;
}

button {
	text-decoration: none;
	position: relative;
	display: inline-block;
	padding: 12px 36px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	letter-spacing: 2px;
	border-radius: 40px;
	background-size: 400%;
	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
	border: none;
	background-size: 400%;
	margin-bottom: 50px;
}

button:hover {
	animation: but 8s linear infinite;
}
@keyframes but {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 400%;
	}
}
button:before {
	content: '';
	position: absolute;
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	z-index: -1;
	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
	background-size: 400%;
	border-radius: 40px;
	filter: blur(20px);
}
