*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins'. sans-serif;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #aff6cf;
background-image: linear-gradient(315deg, #aff6cf 2%, #9f98e8 60%);
}
section
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	transform-style: preserve-3d;
	width: 1100px;
}
section .card
{
	position: relative;
	width: 320px;
	height: 320px;
	margin: 20px;
	transform-style: preserve-3d;
	perspective: 1000px;
}
section .card .box
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: 1.35s ease;
}
section .card:hover .box
{
	transform: rotateY(180deg);
}
section .card .box .imgBx
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
section .card .box .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
section .card .box .contentBx
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333;
	backface-visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
	transform: rotateY(180deg);
}
section .card .box .contentBx div
{
	transform-style: preserve-3d;
	padding: 20px;
	background: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
	padding: 20px;
	transform: translateZ(100px);
}
section .card .box .contentBx div h2
{
	color: #fff;
	font-size: 20px;
	letter-spacing: 1px;
}
section .card .box .contentBx div p
{
	color: #fff;
	font-size: 16px;
}